body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1201px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:54px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:54px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:308px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:1201px;
  height:308px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:87px;
  width:523px;
  height:78px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:519px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:457px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:362px;
  width:1201px;
  height:457px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:8px;
  width:120px;
  height:39px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:8px;
  width:120px;
  height:39px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:8px;
  width:120px;
  height:39px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:405px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:389px;
  width:516px;
  height:405px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:405px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:389px;
  width:568px;
  height:405px;
  text-align:left;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:154px;
  width:564px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:819px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:819px;
  width:1201px;
  height:819px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:860px;
  width:128px;
  height:47px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:124px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:928px;
  width:232px;
  height:40px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:228px;
  word-wrap:break-word;
}
#u11_ann {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:924px;
  width:1px;
  height:1px;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:968px;
  width:1076px;
  height:270px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:127px;
  width:1072px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:383px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:1248px;
  width:683px;
  height:383px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:383px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:1248px;
  width:354px;
  height:383px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:176px;
  width:350px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:443px;
  width:146px;
  height:38px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:19px;
  width:131px;
  height:16px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:928px;
  width:232px;
  height:40px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:228px;
  word-wrap:break-word;
}
#u17_ann {
  border-width:0px;
  position:absolute;
  left:783px;
  top:924px;
  width:1px;
  height:1px;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:928px;
  width:232px;
  height:40px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:228px;
  word-wrap:break-word;
}
#u18_ann {
  border-width:0px;
  position:absolute;
  left:551px;
  top:924px;
  width:1px;
  height:1px;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:928px;
  width:232px;
  height:40px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:228px;
  word-wrap:break-word;
}
#u19_ann {
  border-width:0px;
  position:absolute;
  left:319px;
  top:924px;
  width:1px;
  height:1px;
}
